<!DOCTYPE html>
<html>
<head>
    <title>Info</title>
</head>
<body>
    <article>
        <p>Phonebook has info for <%= personCount %> people</p>
        <p><%= timeNow %></p>
    </article>
</body>
</html>
